# Terraform
terraform/terraform.tfvars
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*
Dockerfile
.github/*

node_modules
dist
.DS_Store
.env
.env.example
.codex/
.claude/